*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

body{
    background-image: url("./bg.jpg");
    /* background-size: cover; */
    /* cover tells to occupy whole veiwport properly*/
    background-position: left;
    /* we can we give its value in vw , vh , % */
}