*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
/* css is like multilayer structure of styles applied to html elements */
#car1{
    position: absolute;
    top:10vh;
    left:10vh;
    height: 10vh;
    width: 10vh;
    background-color: dodgerblue;
}
/* the element given position absolute stays at highest layer on the veiwport itself , and remaining elements occupy that empty place*/
#car2{
    /* position: absolute;top:15vh;left: 15vh; */

    /* uncommenting above line will car2 to the veiwport layer pushin car1 a layer 
    down as css cascades i.e. overrides the above written properties affecting any element in stylesheet*/
    height: 15vh;
    width: 15vh;
    background-color:dimgrey;
}
#car3{
    height: 20vh;
    width: 20vh;
    background-color:orangered;
}
/* top bottom left right can be used only if we have specified some position to the element */